<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722269714887-dkmf2bvri9lgkcrn9d4nrmh479u7duhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722269714887-dkmf2bvri9lgkcrn9d4nrmh479u7duhs</string>
	<key>API_KEY</key>
	<string>AIzaSyAmmgEoT6vCXqQ29P0-oiKN2dmVcL-2vxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>722269714887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test3</string>
	<key>PROJECT_ID</key>
	<string>testdata-c2cd6</string>
	<key>STORAGE_BUCKET</key>
	<string>testdata-c2cd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722269714887:ios:8ec82ce211b3fa3f5941e2</string>
</dict>
</plist>